<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/header :: head"></head>
<body>
<div th:replace="home/header :: navbar"></div>
<div id="container" class="container mt-5">
    <h4>Informatii de contact</h4>

    <p><b>Telefon:</b> <p>(+40) 750057769</p></p>
    <p><b>E-mail:</b> andreea.pascal@s.unibuc.ro</p>
    <br>

    <p>Ne puteti contacta la numarul de telefon de mai sus de luni pana vineri 9:00-18:00 pentru informatii suplimentare despre produse sau pentru a va ajuta in plasarea comenzii.
    </p>
    <br>
    <h5>Livrare</h5>
    <p>Comenzile sunt livrate prin serviciu de curierat in Bucuresti si imprejurimi.</p>
</div>

</body>
</html>