<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="home/header :: head"></head>

<body>
<div th:replace="home/header :: navbar"></div>


<div style="" class="container">
    <div class="col-md-4 offset-md-4">
        <h4 style="text-align: center">Inregistreaza-te acum</h4>
        <hr/>
    </div>

    <form class="col-md-4 offset-md-4" method="post" action='/user/signup'>
        <div class="form-group row">
            <label for="email"><strong>Email</strong></label>
            <input type="email" name="email" id="email" th:value="${registrationRequest} ? ${registrationRequest.email} : ''" class="form-control">
            <div th:if="${emailError}" class="text-danger" th:text="${emailError}"></div>
        </div>
        <div class="form-group row">
            <label for="username"><strong>Username</strong></label>
            <input type="text" name="username" id="username" th:value="${registrationRequest} ? ${registrationRequest.username} : ''" class="form-control">
            <div th:if="${usernameError}" class="text-danger" th:text="${usernameError}"></div>
        </div>
        <div class="form-group row">
            <label for="firstName"><strong>Nume</strong></label>
            <input type="text" name="firstName" id="firstName" th:value="${registrationRequest} ? ${registrationRequest.firstName} : ''" class="form-control">
            <div th:if="${firstNameError}" class="text-danger" th:text="${firstNameError}"></div>
        </div>
        <div class="form-group row">
            <label for="firstName"><strong>Prenume</strong></label>
            <input type="text" name="lastName" id="lastName" th:value="${registrationRequest} ? ${registrationRequest.lastName} : ''" class="form-control">
            <div th:if="${lastNameError}" class="text-danger" th:text="${lastNameError}"></div>
        </div>
        <div class="form-group row">
            <label for="password"><strong>Parola</strong></label>
            <input type="password" name="password" id="password" class="form-control">
            <div th:if="${passwordError}" class="text-danger" th:text="${passwordError}"></div>
        </div>
        <div class="form-group row">
            <label for="password"><strong>Confirma parola: </strong></label>
            <input type="password" name="rePassword" id="rePassword" class="form-control">
            <div th:if="${password2Error}" class="text-danger" th:text="${rePassword}"></div>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-dark mx-3">Inregistrare</button>
        </div>
        <div class="g-recaptcha" data-sitekey="6Lc5cLkZAAAAAN8mFk85HQieB9toPcWFoW0RXCNR"></div>
        <div th:if="${captchaError}" class="alert-danger" th:text="${captchaError}" role="alert"></div>

    </form>
</div>

<footer th:insert="~{home/footer :: footer}"></footer>
</body>
</html>